<div class=" card mx-3 my-3" style="max-width: 1320px;">
  <h3 class="card-title text-center my-3">Mundos</h3>


  <div class="row g-0">
    <div class="col-md-3 mx-1" >
      <div  >
        <img  src="../../assets/images/floresta-pokemon.jpg"  style="width: 150px; height: 150px; "
          class="img-fluid  icon rounded-start" alt="...">
        <h4 class="text-center "> Floresta Pokemon </h4>
       </div>
    </div>
    <div class="col-md-3 mx-1">
      <div class="">
        <img src="../../assets/images/mar-pokemon.jpg" style="width: 150px; height: 150px;"
          class="img-fluid  icon rounded-start" alt="...">
        <h4 class="text-center "> Mar Pokemon </h4>
       </div>
    </div>
    <div class="col-md-3 mx-1">
      <div class="">
        <img src="../../assets/images/pantano-pokemon.jpg" style="width: 150px; height: 150px;"
          class="img-fluid  icon rounded-start" alt="...">
        <h4 class="text-center "> Pantano pokemon </h4>
       </div>
    </div>

  <div class="col-md-2 mx-1">
    <div class="">
      <img src="../../assets/images/vulcao-pokemon.jpg" style="width: 150px; height: 150px;"
        class="img-fluid icon  rounded-start" alt="...">
      <h4 class="text-center "> Vulcão Pokemon</h4>
     </div>
  </div>

  </div>

</div>
